@use "../base/colors" as *;
@use "../base/typography" as *;

.footer-logo {
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  width: 10rem;
  overflow: visible;
  font-size: $font-medium-large;
  font-weight: 600;
  color: $text-content-color-darker;
}

.footer-logo::before {
  content: ""; /* Tworzenie pseudo-elementu */
  position: absolute; /* Ustawienie absolutne */
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  border: 1px solid $text-content-color-darker; /* Początkowe ustawienie przezroczystego obramowania */
  transition: transform 0.3s ease; /* Przejście dla transformacji */
  box-sizing: border-box; /* Uwzględnienie obramowania w box modelu */
}

.footer-logo:hover::before {
  transform: rotate(180deg); /* Obrót pseudo-elementu o 90 stopni */
  border-color: $secondary-color;
}
