@use "../utils/mixins" as *;
@use "./colors" as *;

@include google-fonts;

$font-small: 1rem;
$font-medium: 2.2rem;
$font-large: 3.2rem;
$font-huge: 6rem;

$title-shadow: 1px 1px 1px black;

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  color: $text-color;
}
